.layout{
    width: 80;
    margin: 0 auto;
}
.flex{
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.uppercase{
    text-transform: uppercase;
}

.f-w-500{
    font-weight:500;
}
.f-w-600{
    font-weight:600;
}
.f-w-700{
    font-weight:700;
}

.letter-spacing2{
    letter-spacing: 2px;
}
.btn{
    width: 150px;
}
.flex2{
    flex: 2;
}
.flex3{
    flex: .9;
}
.my-t-10{
    margin-top: 30px;
}
.my-t-20{
    margin-top: 20px;
}
.pd-t-30{
   padding-top: 30px; 
}
.w55{
    width: 55%;
}

.text-center{
    text-align: center;
}