@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat' , sans-serif;
}

:root{
    --primary-color: #fff;
    --parimary-shade: #f7f5f2;
    --seconday-color: #000;
    --secondary-shade: #4b4c4c;
    --red-color:#d40700;
    --red-chade: #ffee63;
}

ul li{
    list-style: none;
}
a{
    text-decoration: none;
}

/*   header section*/
header{
    background: rgb(2, 0,36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(50, 50, 51, 1)
    35%, rgba(0,212,255,1)100%);
    background: linear-gradient(to right, #040404, #242424, #656565);
    color: var(--primary-color)
}

.nav-bar {
    padding: 30px 30px;

}
span{
    color: var(--red-color);
}

ul li a {
    margin: 0 10px;
    padding: 0 5px;
    color: var(--accent-color);
    font-size: 18px;
    cursor: pointer;
    position: relative;
}

ul li a::before{
    content: '';
    width: 0;
    position:absolute;
    bottom: -5px;
    left: 0;
    height: 2px;
    background-color: var(--primary-color);
    transition: 0.6s ease;
}

ul li a:hover::before{
    width: 100%;
}

/*  Button*/

.btn{
    width: 100px;
    height: 40px;
    border-radius: 8px;
    background-color: var(--red-color);
    color: var(--primary-color);
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 0 5px;
    font-weight: 500;
}

.btn:hover{
    background-color:var(--red-shade);
    color: var(--primary-shade);
    border: 2px solid var(--red-color);
}

.content{
    height: 90vh;
    position: relative ;
}

.right img{
    width: 80%;
    position: relative;
    z-index: 999;
    cursor: pointer;
    transition: 0.3s ease;
}

.right img:hover{
    filter: drop-shadow(16px 5px 20px burlywood);
}
h2,h3 {
    font-family: 'Poppins',sans-serif;
}

.color-box{
    width: 460px;
    height: 560px;
    border: 5px solid red;
    position: absolute;
    top: 90px;
}

/* about*/

.about-me-sec{
    min-height: 100vh;
    background-color: var(--secondary-shade);
    color: var(--primary-color);
}
.about-me-sec hr{
    border: 2px solid red;
    margin-bottom: 2rem;
}
.contact-us-sec{
    background-color: rgb(135, 144, 144);
    height: 30vh;
    padding: 35px 0;
}